@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
:root {
  --white: hsl(0, 0%, 100%);
  --lightWhite: hsla(0, 0%, 100%, 0.75);
  --lighterWhite: hsla(0, 0%, 100%, 0.6);
  --darkBlue: hsl(233, 47%, 7%);
  --desaturatedBlue: hsl(244, 38%, 16%);
  --violet: hsl(277, 64%, 61%);
  --violetbg: hsla(277, 64%, 61%, 0.1);
  --violetbg2: hsla(277, 80%, 30%, 0.6);
}
body {
  font-size: 16px;
  font-family: "Lexend Deca", sans-serif;
  color: var(--lightWhite);
  background-color: var(--darkBlue);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.sec {
  width: 80%;
  height: auto;
  background-color: var(--violetbg);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.img {
  width: 100%;
  height: 25rem;
  background: linear-gradient(180deg, var(--violetbg2), var(--violetbg2)),
    url("image-header-mobile.jpg");
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
}
.container {
  padding: 2rem;
}
.container h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 1.7rem;
}
span {
  color: var(--violet);
}
.lead {
  text-align: center;
  color: var(--lighterWhite);
  line-height: 1.5rem;
  word-spacing: 0.1rem;
  margin: 0;
}
.bars > h1:first-child {
  margin-top: 2rem;
}
.bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.bar p {
  text-align: center;
  margin: 0;
  color: var(--lighterWhite);
}
@media only screen and (min-width: 800px) {
  .img {
    display: none;
  }
  .img-desktop {
    width: 100%;
    height: 600px;
    background: linear-gradient(180deg, var(--violetbg2), var(--violetbg2)),
      url("image-header-desktop.jpg");
    background-size: cover;
    border-radius: 0 1rem 1rem 0;
  }
  .sec {
    width: 80%;
    height: auto;
    background-color: var(--violetbg);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  .bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 5rem;
  }
  .container {
    width: 100%;
    padding: 2rem;
  }
  main {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 800px) {
  main {
    padding: 10rem 0;
  }
}
